<html>

  <body>

    <h1>Hola!,
      {{name}}! Felicitacines por tu compra de
      {{productos}}
    </h1>
    <p>En 48 horas recibirá el producto en el domicilio informado. En el
      siguiente link, encontrará la factura para descargar.
    </p>
    <p>
      Saludos.
    </p>
    <p>Link: {{emailConfirmationLink}}</p>
  </body>

</html>