<html>

  <body>

    <h1>Hello,
      {{name}}! Bienvenido a nuestra gran plataforma de compra y ventas de
      servicios
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit
      neque dicta facilis dolorem. Nam natus officiis vero quisquam dolorem quia
      blanditiis ullam iure consequatur alias, nostrum quae! Nulla,
      necessitatibus!</p>
  </body>

</html>