<html>

  <body>

    <h1>Hello,
      {{name}}! Bienvenido a nuestra gran plataforma de compra de productos
      varios.
    </h1>
    <p>Por favor, haga clic en el enlace para completar el proceso de registro,
      o cópielo y péguelo en la barra de navegación de su navegador.
    </p>

  </body>

</html>