<html>

  <head>
    <style>
      body { margin: 0; padding: 0; font-family: Arial, sans-serif; } .container
      { background-color: #a8a29e; padding: 20px; border-radius: 10px; margin:
      20px; max-width: 600px; } h1, p { color: #ffffff; } .logo { max-width:
      50%; height: auto; border-radius: 50%; display: block; margin-bottom:
      10px; }

    </style>
  </head>
  <body>

    <div class='container'>
      <img
        src='https://firebasestorage.googleapis.com/v0/b/facturador-ml.appspot.com/o/log-mascotero.jpeg?alt=media&token=ce8ce381-4906-4ab7-93c3-caf2fad12ce8'
        alt='Logo'
        class='logo'
      />
      <div>
        <h1>Hola, {{name}}!</h1>

        <p>Tu contraseña fue actualizada correctamente. </p>
      </div>
    </div>
  </body>
</html>