<html>

  <body>

    <h1>Hola,
      {{name}}!

    </h1>
    <p>Tu contraseña fue actualizada correctamente. Recuerda tatuartelo en una
      nalga, asi no se te olvida. El link es valido por una hora.</p>
  </body>

</html>