<html>

  <head>
    <style>
      body { margin: 0; padding: 0; font-family: Arial, sans-serif; } .container
      { background-color: #a8a29e; padding: 20px; border-radius: 10px; margin:
      20px; } h1 { color: #ffffff; } p { color: #ffffff; } .logo { position:
      absolute; top: 10px; left: 10px; max-width: 100px; max-height: 100px;
      border-radius: 50%; }
    </style>
  </head>

  <body>
    <div class='container'>
      <img
        src='https://firebasestorage.googleapis.com/v0/b/facturador-ml.appspot.com/o/log-mascotero.jpeg?alt=media&token=ce8ce381-4906-4ab7-93c3-caf2fad12ce8'
        alt='Logo'
        class='logo'
      />
      <h1>Hola, {{name}}!</h1>
      <p>Por favor, haz click en el siguiente enlace para resetear tu
        contraseña.</p>
      {{resetLink}}
      <p>Recuerda tatuarlo en una nalga, así no se te olvida. El link es válido
        por una hora.</p>
    </div>
  </body>

</html>