<html>

  <body>

    <h1>Hola,
      {{name}}!

    </h1>
    <p>Por favor, haz click en el siguiente enlace para resetear tu password.

      {{resetLink}}

      Recuerda tatuartelo en una nalga, asi no se te olvida. El link es valido
      por una hora.</p>
  </body>

</html>